*
{
  margin: 0;
  padding: 0;
  font-family: "Frutiger Neue W02 Bd",Arial,Helvetica,sans-serif;
}
.apresentacao-texto
{
  padding: 5%;
}
.apresentacao-texto-h1
{
  margin-bottom:40px;
  font-size: 60px;
}
.apresentacao-text-principal
{
  font-size: 20px;
}
body::-webkit-scrollbar
{
  width: 18px
}
body::-webkit-scrollbar-track
{
  background: rgba(60, 58, 58, 0.781) ;
}
body::-webkit-scrollbar-thumb
{
  background-color: rgba(240, 248, 255, 0.786);
  border-radius: 20px ;
  border: 4px solid rgba(60, 58, 58, 0.781)
}
#btn-down-curriculo
{
  height: 10vh;
  width: 20vw;
  background-color: rgb(60, 58, 58);
  border-radius: 25px 0px 25px 0px;
  margin: 5% 0% 0% 30% ;
  border: none;
  color: aliceblue;
}
#btn-down-curriculo:hover
{
  background-color: rgba(60, 58, 58, 0.751);
}
.certificados
{
  color: rgba(0, 0, 0, 0.545);
}
.dados
{
  display: grid;
  justify-content: space-around;
  align-content: space-around;
  padding: 5%;
  font-size: small;
  margin-top: 8%;
  margin-bottom: 5%;
}
.foto
{
  padding-top: 5vw ;
  margin-right: 5vw;
  margin-bottom: 4vw;
}
.fundo-cont
{
  background-color: rgba(212, 222, 231, 0.6);
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-top-color: rgba(0, 0, 0, 0.288);
}
.fundo-curri
{
  background-color: rgba(212, 222, 231, 0.6);
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-top-color: rgba(0, 0, 0, 0.288);
}
.fundo-proj
{
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-top-color: rgba(0, 0, 0, 0.288);
  display: flex ;
  justify-content: center;
}
.info
{
  display: grid;
  justify-content: space-around;
  align-content: space-around;
  padding: 5%;
  font-size: small;
}
.link
{
  padding: 23px 50px 23px 50px;
  
}
.link:active 
{
  text-decoration: none
}
.link:hover
{
  background-color: rgba(240, 248, 255, 0.275);
  border-radius: 10px;
}
.link:link {
  text-decoration: none;
}
.link:visited {
  text-decoration: none;
}
.my-name-nav-bar
{
  color: aliceblue;
  left: 50px;
}
.nav-bar
{
  position: fixed;
  background-color: rgb(0, 0, 0);
  height: 10vh;
  width: 100vw;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar-content
{
  display: flex;
}
.nav-bar-content-h1
{
  height: 10vh;
  width: 17vw;
  color: aliceblue;
  display: contents;
}
.projeto
{
  padding: 4%;
}
.projeto-img-link
{   
  background: rgba(0, 0, 0, 0.288);
}
.projeto-link:link {
  text-decoration: none;
}
.projeto-link:visited {
  text-decoration: none;
}
.quemsou
{
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-who-aim
{
  height: 70vh;
}
#who-aim
{
  padding-top: 12vh;
  width: 100%;
}
a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #23232e;
  height: 8vh;
}
.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
  display: flex;
  align-items: center;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: fixed;
    top: 10vh;
    right: 0;
    width: 35vw;
    height: 100 vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
    padding-top: 20px;
  }

  .img-who-aim
  {
  height: 40vh;
  }

  .apresentacao-texto-h1
  {
    margin-bottom:40px;
    font-size: 6vw;
  }
  .apresentacao-text-principal
  {
    font-size: 2vw;
  }
  #btn-down-curriculo
{
  height: 10vh;
  width: 50vw;
  background-color: rgb(60, 58, 58);
  border-radius: 25px 0px 25px 0px;
  margin: 5% 0% 0% 20% ;
  border: none;
  color: aliceblue;
}
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}
.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}